[project]
authors = ["MAMMASMIAS Consortium"]
channels = ["conda-forge"]
description = "Algorithms for Iterative Rotations and Assignments (IRA), and the Symmetry Operations FInder (SOFI)."
name = "IterativeRotationsAssignments"
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
version = "2.2.0"

[tasks]
build_lib = { cmd = "make all", cwd = "src", env = { LIBLAPACK = "-lopenblas" } }

[activation]
env = { PYTHONPATH = "$PYTHONPATH:$(pwd)/interface" }

[dependencies]
openblas = ">=0.3.28,<0.4"
python = ">=3.13.1,<3.14"
pip = ">=24.3.1,<25"
fortran-compiler = ">=1.9.0,<2"
make = ">=4.4.1,<5"
numpy = "*"
